*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

# CodeIgniter specific
public/assets/*
writable/logs/*
writable/uploads/*

# Composer specific
composer.lock
.phpunit.result.cache
# IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db
.env

# Ignorar todos los archivos en el directorio writable
writable/*
build/*

# Permitir la inclusión de index.html y .htaccess para protección adicional
!writable/index.html
!writable/.htaccess

# Excluir subdirectorios específicos que deben ser versionados
!writable/cache/index.html
!writable/cache/.htaccess
!writable/logs/index.html
!writable/logs/.htaccess
